<div class="container">
    <div class="container row">
        <div class="container">
            <h5 class="display-6 fs-4">Ваши напоминания</h5>
            <mat-divider></mat-divider>
            <div *ngIf="notices && notices.length > 0; else emptyBlock">
                <div class="container mt-3 mb-4">
                    <div ngbAccordion [closeOthers]="true">
                        <div ngbAccordionItem *ngFor="let notice of notices">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton class="fs-5 fw-medium">{{ notice.title }}</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="row justify-content-start row-cols-2">
                                            <h6 class="col-2">Срок выполнения:</h6> 
                                            <p class="col">{{ notice.deadline | date: 'dd-MM-yyyy HH:mm':'local'}}</p>
                                        </div>
                                        <div class="row justify-content-start row-cols-2 mb-2">
                                            <h6 class="col-2">Тэги:</h6> 
                                            <div class="col">
                                                <mat-chip-listbox>
                                                    <div *ngFor="let tag of notice.tags">
                                                        <mat-chip>
                                                            {{ tag.title }}
                                                        </mat-chip>
                                                    </div>
                                                </mat-chip-listbox>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-2"></div>
                                            <button class="btn btn-outline-danger col m-2" (click)="openDeleteDialog(notice.noticeId, 'notice')">Удалить</button>
                                            <div class="col-2"></div>
                                            <button class="btn btn-outline-dark col m-2" (click)="openEditDialog(notice)">Редактировать</button>
                                            <div class="col-2"></div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #emptyBlock>
                <div class="container mt-3 mb-4 text-center">
                    <div class="display-6">У вас нет напоминаний</div>
                </div>
            </ng-template>
            <mat-divider></mat-divider>
            <div class="container text-center mt-2">
                <button class="btn btn-outline-dark mt-2" (click)="openCreateNoticeDialog()">Создать напоминание</button>
            </div>
        </div>
    </div>
</div>
